{% load static %}
{% load rightpanel %}
<html lang="en">
<head>
    <link rel="icon" href="/static/img/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'django_cyversedev/js/cyverse.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_cyversedev/js/jquery.bootpag.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_cyversedev/js/rightPanel.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_cyversedev/js/tableOperations.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_cyversedev/js/analysisOperations.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_cyversedev/js/dropdownMenu.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'django_cyversedev/css/cyverse.css' %}">
</head>
<body>
{% include 'popup_modals.html' %}
<div class="dropdown-menu" aria-labelledby="dropleftMenuButton" id="context-menu">
    {% include 'rightclickmenu.html' %}
</div>
<div class="dropdown-menu" aria-labelledby="dropleftMenuButton" id="popup-menu">
    {% include 'rightclickmenu.html' %}
</div>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand navbar-light bg-light ">
    <div class="col">
        <img height="40" class="d-inline-block align-top mr-2" alt="" src="/static/img/bcLogo.png"/>
    </div>
    <div id="searchRender" class="input-group">
        <input id="searchText" type="text" class="form-control" placeholder="Search Home">
        <div class="input-group-append ml-1">
            <button class="btn btn-secondary" type="button"
                onclick="renderSectionGetFiles('','NAME','ASC',true)">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="col dropdown usernamedpdn">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="usernamedpdn"
            aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" onclick=signout(false)> Sign Out</a>
        </div>
    </div>
</nav>

<div class="content container-fluid">
    <!--left div -->
    <div class="row">
        <div class="left col position-relative">
            <br>
            <div class="list-group row">
                <div class="btn-group mr-3 ml-3 mb-2 dropright">
                    <button id="newUploadBtn" type="button" class="btn btn-outline-info dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plus mr-2"></i>New</button>
                    <div class="dropdown-menu" >
                        <a class="dropdown-item" onclick="createFolderModal()">Create Folder</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" onclick="uploadFileFolder()" >Upload...</a>
                        <a class="dropdown-item" onclick="uploadByURLUI()">Upload by URL</a>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <button type="button" id="menuBtnHome" onclick=renderSectionGetFiles("home","NAME","ASC",false)
                        class="leftMenu list-group-item list-group-item-action border-0">
                    <i class="fas fa-home mr-1"></i>Home
                </button>
                <button type="button" id="menuBtnShared" onclick=renderSectionGetFiles("shared","NAME","ASC",false)
                        class="leftMenu list-group-item list-group-item-action border-0">
                    <i class="fas fa-user-friends mr-1"></i>Shared with me
                </button>
                <button type="button" id="menuBtnCommunity"
                        onclick=renderSectionGetFiles("community","NAME","ASC",false)
                        class="leftMenu list-group-item list-group-item-action border-0">
                    <i class="fas fa-users mr-1"></i>Community
                </button>
                <div class="dropdown-divider"></div>
                <button type="button" id="menuBtnAnalyses" onclick=renderSectionGetFiles("analyses","na","na",false)
                        class="leftMenu list-group-item list-group-item-action border-0">
                    <i><img class="mr-1" src="/static/img/analyses_icon.png" height="20" alt="blank"></i>Analyses History
                </button>
            </div>
            <div class="list-group position-absolute" style="bottom:0">
                <a href="https://bioviz.org" class="btn">
                    <img src="/static/img/biovizLink.png" height="20" alt="blank">
                </a>
                <span class="btn">
                    <a href="https://twitter.com/igbbioviz"> <img src="/static/img/twitter.png" height="50" alt="blank"></a>
                    <a href="https://www.youtube.com/channel/UC0DA2d3YdbQ55ljkRKHRBkg"> <img src="/static/img/youtube.png" height="50" alt="blank"></a>
                </span>
                <a href="http://www.nih.gov/" class="btn mb-2" data-toggle="tooltip" data-placement="right"
                   title="Development of IGB is funded by the National Institutes of Health">
                    <img src="/static/img/NIH_custom.png" height="24" alt="blank">
                </a>
                <p>© UNC Charlotte, all rights reserved </p>
            </div>
        </div>
        <!-- middle div -->
        <div class="middle table-responsive col border-light border-top-0 border-bottom-0 border-right-0 ">
            {% block middlepanel %} {% endblock %}
        </div>
        <!-- right div -->
        <div class="right col border bg-white">
            {% block rightpanel %} {% endblock%}
        </div>
    </div>
</div>
</body>
</html>
