{% extends "base.html" %}
{% load rightpanel %}
{% load static %}
{% block middlepanel %}
<div class="middleLoad col">
    <div class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>

    </div>
</div>
{% include 'toasts.html' %}

<nav aria-label="breadcrumb" >
    <ol class="breadcrumb">
    </ol>
</nav>
<table id="fileFolder" class="table">
    <thead>
        <tr class="bg-light">
            <th class="priority-1" onclick="sortTable('NAME',this)">Name <i class="fas fa-angle-up ml-2"></i></th>
            <th class="priority-2"></th>
            <th class="priority-3 text-secondary" onclick="sortTable('LASTMODIFIED',this)" >Last Modified <i class="fas fa-angle-up ml-2"></i></th>
            <th class="priority-4 text-secondary" onclick="sortTable('SIZE',this)">Size <i class="fas fa-angle-up ml-2"></i></th>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<table id="analysesHist" style="display:none" class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col-sm-2">Name </th>
            <th scope="col-sm-3">App Name</th>
            <th scope="col-sm-3">Start Date</th>
            <th scope="col-sm-3">End Date</th>
	    <th scope="col-sm-3">Status</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div style="width: 100%; overflow: hidden;">
    <div id="pagetext" style="width: 10px; margin-top:5px; float: left;"><div class="font-weight-light">Page</div>
 </div>
    <div style="margin-left: 50px;"> <div id="page-selection"></div></div>
</div>

{% endblock %}
{% block rightpanel %}
{% rightpanel_render %}
{% endblock %}
