
<div id="analysis">
    <button class="btn btn-light float-right" onclick="closerp()"><i class="fa fa-window-close mr-1"></i>Close</button>
    <div class=" container">
        <h5 class="navbar-brand">Analysis</h5>
    </div>
    <div id="dynamicAnalyse">
        <div class="list-group-item"><p class="w-100 pathLink"></p></div>
    </div>
</div>
<div id="appForm">
    <button class="btn btn-light float-right" onclick="backtoMenu()"><i class="fas fa-arrow-left mr-1"></i>Back</button>
    <div class="bg-light container">
        <h5 class="navbar-brand"></h5>
    </div>
    <form id="theForm">

    </form>
     <div class="toast analyseToast hide" role="alert" data-autohide="true" data-delay="1000">
            <div class="toast-header">
                <i class="fa fa-paper-plane"></i>
                <strong class="mr-auto text-success">Submitted!</strong>
            </div>
     </div>

</div>
