<!-- Manage Link -->
<div id="makePublic">
    <button class="btn btn-light float-right" onclick="closerp()"><i class="fa fa-window-close mr-1"></i>Close</button>
    <div class="container">
        <h5 class="navbar-brand">Make Public/Private Link</h5>
    </div>
    <div>
        <div class="list-group-item"><p class="w-100 pathLink"></p>
            <p>is currently
                <span class="btn btn-info fileStatus" data-toggle="tooltip" data-placement="right"
                        title="A public link must be generated to display your data in IGB. Anyone with the public link can view the data.">Private
                </span>
        </p>
        </div>
        <div class="list-group-item ">
<!--            <p class="mb-2 ">A public link must be generated to display your data in IGB</p>-->
<!--            <p class="mb-2 text-danger"><i class="fas fa-exclamation-triangle mr-1"></i>Anyone with a public link can view the data.</p>-->

            <p class="font-italic text-left"> Public/Private Links can be managed by clicking the button below</p>
            <button class="btn btn-danger w-100 " onclick="manageLinkOperations('remove', false)" id="remove" style="display:none">Remove Public Link</button>
            <button class="btn btn-primary w-100" onclick="manageLinkOperations('create', false)" id="create">Create Public Link</button>
	        <div class="toast publicCreate ml-5 hide" role="alert" data-autohide="true" data-delay="2000" style="position:absolute;right:0px;">
                <div class="toast-header bg-warning text-white">
                    <strong class="mr-auto">Public Link Created!</strong>
                </div>
            </div>
            <div class="toast publicRemoved ml-5 hide" role="alert" data-autohide="true" data-delay="2000" style="position:absolute;right:0px;">
                <div class="toast-header bg-info text-white">
             	    <strong class="mr-auto">Public Link Removed!</strong>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <p class="text-primary">Public Link:</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control w-75" id="plink" disabled/>
                <div class="input-group-append">
                    <button class="input-group-text far fa-copy" id="copy" style="visibility:hidden" onclick="copyLink()"></button>
                    <div class="toast copiedToast mt-5 position-absolute hide" role="alert" data-autohide="true" data-delay="500" style="right:0px;bottom:40px;" >
                        <div class="toast-header">
                             <i class=" far fa-copy fa-bounce fa-lg  mr-2"></i>
                            <strong class="mr-auto ">Copied!</strong>
                         </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
