{% block toasts %}
<!--Toasts for the whole site-->
<div class="toast runAnalysisToast hide" role="alert" data-autohide="true" data-delay="3000"
     style="position: fixed; bottom: 10px; right: 50px;">
        <div class="toast-header">
            <i class="fas fa-cog fa-spin mr-2 fa-lg"></i>
            <strong class="mr-auto text-info">Running Analysis...</strong>
        </div>
    </div>
    <div class="toast igbRunCheck hide" role="alert" data-autohide="true" data-delay="5000"
         style="position: fixed; bottom: 10px; right: 50px;">
        <div class="toast-header bg-info text-white">
             <i class="fas fa-cog fa-spin mr-2 fa-lg"></i>
            <strong class="mr-auto">Checking if IGB is running...</strong>
        </div>
    </div>

    <div class="toast fileNotPublic hide " role="alert" data-autohide="true" data-delay="3000"
         style="position: fixed; bottom: 10px; right: 50px;">
        <div class="toast-header bg-danger text-white">
            <strong class="mr-auto">Error: File must be made public in order to view in IGB</strong>
        </div>
    </div>

    <div class="toast fileNotPublicNotOwner hide" role="alert" data-autohide="true" data-delay="3000"
         style="position: fixed; bottom: 10px; right: 50px;">
        <div class="toast-header bg-danger text-white">
            <strong class="mr-auto">Error: Ask owner of the file to make the file public to view in IGB</strong>
        </div>
    </div>

    <div class="toast igbNOTerror hide" role="alert" data-autohide="true" data-delay="3000"
         style="position: fixed; bottom: 10px; right: 50px;">
        <div class="toast-header bg-danger text-white">
            <strong class="mr-auto">Error: Sorry! Could not open the file in IGB</strong>
        </div>
    </div>
    <div class="toast igbRun hide" role="alert" data-autohide="true" data-delay="3000"
         style="position: fixed; bottom: 10px; right: 50px;">
        <div class="toast-header">
            <i class="fas fa-sync fa-spin mr-2 fa-lg"></i>
            <strong class="mr-auto text-info">Opening File in IGB...</strong>
        </div>
    </div>
     <div class="toast downloadToast hide" role="alert" data-autohide="true" data-delay="5000"
         style="position: fixed; bottom: 10px; right: 50px;">
        <div class="toast-header">
            <i class="fas fa-sync fa-spin mr-2 fa-lg"></i>
            <strong class="mr-auto text-info">Preparing to Download...</strong>
        </div>
    </div>

{% endblock %}
